{% include "blog/index.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap js library -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<div class="content-section">
    <div class="content-section">
        <div id="page-wrapper" >
            <div class="header"> 
                  <h1 class="page-header">
                    Project members  <small>Invite members</small>
                </h1>   								
                </div>          
            <div id="page-inner">      
            <div class="row">
             <div class="col-md-12">
             <div class="content-section">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Invite member</legend>

<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<form action="" method="POST">
				{% csrf_token %}
				{{ form.management_form }}
				{% for field in form %}
					{{field}}
					<hr>
				{% endfor %}
				
				<input type="submit" name="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}