{% include "blog/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="content-section">
        <div id="page-wrapper" >
            <div class="header"> 
                  <h1 class="page-header">
                        <small>Update Permission Management</small>
                              </h1>   								
                </div>          
          <div id="page-inner"> 
                       
            <div class="row">
                <div class="col-md-12">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            {{members.management_form }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">update</button>
                <a  class="btn btn-primary" href="{% url 'detail' %}">Cancel</a>

            </div>
        </form>
    </div>
    </div>
    </div>
{% endblock content %}