{% include "blog/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div id="page-wrapper" >
          <div class="header"> 
                <h1 class="page-header">
                      Page Profile: <small>Update your profile </small>
                            </h1>    								
              </div>          
        <div id="page-inner">               
          <div class="row">
    <div class="container">
      <h2 class="text-secondary" style=" font-size: 2.5rem;">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
        <img class="img-circle" width="204" height="220" src="{{ user.profile.image.url }}">
    
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
             
              {{ u_form|crispy }}
              {{ p_form|crispy }}
            </fieldset>
          <div class="form-group">
            <button type="submit" class="btn btn-warning" >Update</button>
            <a class="btn btn-primary" href="{% url 'list' %}">Cancel</a>
         
        </form>
          </div>
    </div>
{% endblock content %}